name: Create artifacts
on: [push, workflow_dispatch]
jobs:
  test:
    name: Test Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun Install
      - name: Run tests
        run: |
          bun run random-number-generator.js
          bun run random-number-generator.js "test-seed"
          bun run random-number-generator.js 1906
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: report.txt

  build:
    name: Build Executables
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun Install
      - name: Build
        run: bun run build
      - name: List Executables
        run: ls -la random-number-generator-*
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: random-number-generator-executables
          path: ./random-number-generator-*

  test-linux:
    name: Test Linux Executable
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: random-number-generator-executables
      - name: Make binary executable
        run: chmod +x random-number-generator-linux
      - name: Run tests
        run: |
          ./random-number-generator-linux
          ./random-number-generator-linux "test-seed"
          ./random-number-generator-linux 1906
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-test-report
          path: report.txt